[submodule "cmakeed"]
	path = cmakeed
	url = ssh+git://aur@aur4.archlinux.org/cmakeed.git/
[submodule "orocos-kdl"]
	path = orocos-kdl
	url = ssh+git://aur@aur4.archlinux.org/orocos-kdl.git
[submodule "youbot_driver-git"]
	path = youbot_driver-git
	url = ssh+git://aur@aur4.archlinux.org/youbot_driver-git.git
[submodule "python2-ctypesgen-git"]
	path = python2-ctypesgen-git
	url = ssh+git://aur@aur4.archlinux.org/python2-ctypesgen-git.git
[submodule "libgraphqlparser"]
	path = libgraphqlparser
	url = ssh+git://aur@aur4.archlinux.org/libgraphqlparser.git
[submodule "ruby-utilrb"]
	path = ruby-utilrb
	url = ssh+git://aur@aur4.archlinux.org/ruby-utilrb.git
[submodule "ruby-rake-compiler-0.8"]
	path = ruby-rake-compiler-0.8
	url = ssh+git://aur@aur4.archlinux.org/ruby-rake-compiler-0.8.git
[submodule "ruby-hoe-yard"]
	path = ruby-hoe-yard
	url = ssh+git://aur@aur4.archlinux.org/ruby-hoe-yard.git
[submodule "ruby-utilrb-2"]
	path = ruby-utilrb-2
	url = ssh+git://aur@aur4.archlinux.org/ruby-utilrb-2.git
[submodule "ruby-autobuild"]
	path = ruby-autobuild
	url = ssh+git://aur@aur4.archlinux.org/ruby-autobuild.git
[submodule "wjelement"]
	path = wjelement
	url = ssh+git://aur@aur4.archlinux.org/wjelement.git
[submodule "ooc"]
	path = ooc
	url = ssh+git://aur@aur4.archlinux.org/ooc.git
[submodule "ompl"]
	path = ompl
	url = ssh+git://aur@aur4.archlinux.org/ompl.git
[submodule "libfreenect-git"]
	path = libfreenect-git
	url = ssh+git://aur@aur4.archlinux.org/libfreenect-git.git
[submodule "libfreenect"]
	path = libfreenect
	url = ssh+git://aur@aur4.archlinux.org/libfreenect.git
[submodule "spcuuid"]
	path = spcuuid
	url = ssh+git://aur@aur4.archlinux.org/spcuuid.git
[submodule "ruby-facets"]
	path = ruby-facets
	url = ssh+git://aur@aur4.archlinux.org/ruby-facets.git
[submodule "opensplice-dds"]
	path = opensplice-dds
	url = ssh+git://aur@aur4.archlinux.org/opensplice-dds.git
[submodule "orocos-kdl-python2"]
	path = orocos-kdl-python2
	url = ssh+git://aur@aur4.archlinux.org/orocos-kdl-python2.git
[submodule "omplapp"]
	path = omplapp
	url = ssh+git://aur@aur4.archlinux.org/omplapp.git
[submodule "wjelement-git"]
	path = wjelement-git
	url = ssh+git://aur@aur4.archlinux.org/wjelement-git.git
[submodule "otrtool"]
	path = otrtool
	url = ssh+git://aur@aur4.archlinux.org/otrtool.git
