[submodule "cmakeed"]
	path = cmakeed
	url = ssh+git://aur@aur4.archlinux.org/cmakeed.git/
[submodule "orocos-kdl"]
	path = orocos-kdl
	url = ssh+git://aur@aur4.archlinux.org/orocos-kdl.git
[submodule "youbot_driver-git"]
	path = youbot_driver-git
	url = ssh+git://aur@aur4.archlinux.org/youbot_driver-git.git
[submodule "python2-ctypesgen-git"]
	path = python2-ctypesgen-git
	url = ssh+git://aur@aur4.archlinux.org/python2-ctypesgen-git.git
[submodule "libgraphqlparser"]
	path = libgraphqlparser
	url = ssh+git://aur@aur4.archlinux.org/libgraphqlparser.git
[submodule "ruby-utilrb"]
	path = ruby-utilrb
	url = ssh+git://aur@aur4.archlinux.org/ruby-utilrb.git
[submodule "ruby-rake-compiler-0.8"]
	path = ruby-rake-compiler-0.8
	url = ssh+git://aur@aur4.archlinux.org/ruby-rake-compiler-0.8.git
[submodule "ruby-hoe-yard"]
	path = ruby-hoe-yard
	url = ssh+git://aur@aur4.archlinux.org/ruby-hoe-yard.git
[submodule "ruby-utilrb-2"]
	path = ruby-utilrb-2
	url = ssh+git://aur@aur4.archlinux.org/ruby-utilrb-2.git
